.middle-section{

padding:100px 0;

background:linear-gradient(
135deg,
#fffdf5,
#fff8e7
);

}



.middle-container{

display:grid;

grid-template-columns:1fr 1fr;

gap:70px;

align-items:center;

}



.middle-image img{

width:100%;

border-radius:35px;

box-shadow:0 25px 60px rgba(0,0,0,.12);

}




.middle-content span{

display:inline-block;

padding:8px 20px;

border-radius:50px;

background:#fff0b8;

color:#b7791f;

font-weight:700;

font-size:14px;

}



.middle-content h2{

font-size:45px;

line-height:1.2;

color:#1e293b;

margin:20px 0;

}



.middle-content>p{

font-size:17px;

line-height:1.8;

color:#64748b;

}




.middle-points{

margin-top:35px;

}



.middle-card{

display:flex;

gap:20px;

align-items:center;

margin-bottom:22px;

background:white;

padding:18px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.06);

}



.middle-icon{

width:55px;

height:55px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

background:#fde68a;

font-size:22px;

color:#1e293b;

}



.middle-card h3{

color:#1e293b;

font-size:20px;

}



.middle-card p{

color:#64748b;

font-size:14px;

margin-top:5px;

}



@media(max-width:992px){

.middle-container{

grid-template-columns:1fr;

}


.middle-content{

text-align:center;

}


}