.learning-section{

padding:100px 0;

background:linear-gradient(
135deg,
#fff8e7,
#fffdf5
);

}




.learning-header{

text-align:center;

max-width:800px;

margin:auto;

}



.learning-header span{

background:white;

padding:8px 22px;

border-radius:50px;

color:#2f855a;

font-weight:700;

}



.learning-header h2{

font-size:45px;

margin:25px 0 15px;

color:#1e293b;

font-weight:800;

}



.learning-header p{

font-size:18px;

color:#64748b;

line-height:1.8;

}




/* Methods */


.method-grid{


display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

margin-top:60px;


}



.method-card{


background:white;

padding:30px;

border-radius:25px;

box-shadow:
0 15px 40px rgba(0,0,0,.08);

transition:.3s;

}



.method-card:hover{

transform:translateY(-10px);

}



.method-number{


height:45px;

width:45px;

display:flex;

align-items:center;

justify-content:center;

background:#2f855a;

color:white;

border-radius:50%;

font-weight:700;

margin-bottom:20px;

}



.method-card h3{

font-size:20px;

color:#1e293b;

margin-bottom:15px;

}



.method-card p{

color:#64748b;

line-height:1.7;

}





/* Faculty */


.faculty-box{


margin-top:80px;

display:grid;

grid-template-columns:1fr 350px;

gap:40px;

background:white;

padding:50px;

border-radius:35px;

box-shadow:
0 20px 50px rgba(0,0,0,.1);

}



.faculty-content h2,
.safety-card h2,
.values-card h2{


font-size:32px;

color:#1e293b;

margin-bottom:20px;

}



.faculty-content p,
.safety-card p,
.values-card p{


color:#64748b;

font-size:17px;

line-height:1.8;

}




.faculty-content ul,
.safety-card ul{


margin-top:25px;

list-style:none;

padding:0;

}



.faculty-content li,
.safety-card li{


margin-bottom:14px;

color:#475569;

}



.faculty-content li::before,
.safety-card li::before{


content:"✓";

color:#2f855a;

font-weight:bold;

margin-right:12px;


}





.faculty-image{


display:flex;

align-items:center;

justify-content:center;

}



.circle{


height:250px;

width:250px;

border-radius:50%;

background:#fde68a;

display:flex;

align-items:center;

justify-content:center;

font-size:30px;

font-weight:800;

color:#1e293b;

}





/* Safety Values */


.safety-grid{


display:grid;

grid-template-columns:1fr 1fr;

gap:30px;

margin-top:60px;

}



.safety-card,
.values-card{


background:white;

padding:40px;

border-radius:30px;

box-shadow:
0 15px 40px rgba(0,0,0,.08);

}



.value-list{


display:flex;

flex-wrap:wrap;

gap:15px;

margin-top:25px;

}



.value-list span{


padding:12px 22px;

background:#fff8e7;

border-radius:50px;

color:#2f855a;

font-weight:600;

}





@media(max-width:992px){


.method-grid{

grid-template-columns:1fr 1fr;

}


.faculty-box{

grid-template-columns:1fr;

text-align:center;

}


.safety-grid{

grid-template-columns:1fr;

}


}



@media(max-width:768px){


.method-grid{

grid-template-columns:1fr;

}


.learning-header h2{

font-size:34px;

}


.faculty-box{

padding:30px;

}


}